.orderInfo {
    height: 2.8em;
    line-height: 2.5;
    margin-left: 1em;
}

.pagination {
    margin-top: -0.2em;
    margin-left: 4em;
}

.center {
    margin-left: 40%;
}

.table {
    margin-top: -0.5em; 
}

thead {
    background-color: rgb(255, 95, 24);
}